PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=ipiggconect
DB_CONNECTION_LIMIT=10
DB_SOCKET_PATH=
JWT_SECRET=super-secret-jwt-key
GOOGLE_CALENDAR_ICAL_URL=https://calendar.google.com/calendar/ical/c_6060df99e166b994a049e2a175c6ba675cecff72da5d379ab3482457eb35a567%40group.calendar.google.com/public/basic.ics
API_BASE_URL=http://localhost:3000
